<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1089096768532-qv8b9ngthero57tf1rmsgi88iqqapcf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089096768532-qv8b9ngthero57tf1rmsgi88iqqapcf6</string>
	<key>API_KEY</key>
	<string>AIzaSyDSSLvUeK9wpCtSASC3rJjrBnvQXSkE9P4</string>
	<key>GCM_SENDER_ID</key>
	<string>1089096768532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annaedgar.zoofinder</string>
	<key>PROJECT_ID</key>
	<string>show-me-the-otte-1546538398773</string>
	<key>STORAGE_BUCKET</key>
	<string>show-me-the-otte-1546538398773.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089096768532:ios:751644f5abaf67f8</string>
	<key>DATABASE_URL</key>
	<string>https://show-me-the-otte-1546538398773.firebaseio.com</string>
</dict>
</plist>